@model IEnumerable<AccountingForPotentiallyDangObj.Web.Models.ReportPdoViewModel>
@{
    ViewData["Title"] = "Home";
}
<div class="main-window">
    <h4 class="text-center">Учет потенциально опасных объектов</h4>
    <div class="text-left">
        <p>По состоянию на  DateOnly.FromDateTime(DateTime.Now) в Гомельском областном управлении Госпромнадзора зарегистрировано <b>Model.Quantity</b> грузоподъемных сооружений и аттракционов, 
            из них <b></b> отработало назначенный срок службы, что составляет %</p>
    </div>
    <div class="table-conteiner">
        <table class="main-table">
            <tr>
                <td class="_id">Наименование ПОО</td>
                <td class="_id">Количество</td>
                <td class="_id">Отработавшие НСС</td>
                <td class="_id">Процент отработавших НСС</td>
            </tr>
            <tr>
                <td class="_id">Грузоподъемные краны</td>
                <td class="_id"></td>
                <td class="_id"></td>
                <td class="_id"></td>
            </tr>           
           
        @foreach (var item in Model)
        {
            <tr>
                <td class="td-text">@item.TypePdoName</td>
                <td class="td-center">@item.Quantity</td>
                <td class="td-center"></td>
                <td class="td-center"></td>
            </tr>
        }             
        </table>
    </div>
</div>
