@model IEnumerable<AccountingForPotentiallyDangObj.Web.Models.JournalPdoViewModel>
@{
    ViewData["Title"] = "Home";
}

<div class="main-window">
    <h4 class="text-center">Учет потенциально опасных объектов</h4>
    <div class="text-left">
        <p>По состоянию на  @DateTime.Today в Гомельском областном управлении Госпромнадзора зарегистрировано (цифра) грузоподъемных сооружений и аттракционов</p>
    <table>
        <tr>
            <td class="_id">ID</td>
            <td>Name</td>
        </tr>
        @foreach (var item in Model)
    {
        
            <tr>
                <td class="_id">@item.Id</td>
                <td>@item.Name</td>
            </tr>       
    }
    </table>
    </div>
</div>
