@model IEnumerable<AccountingForPotentiallyDangObj.DataAccess.Models.Inspector>
@{
    ViewData["Title"] = "Inspectors";
}
<div class="main-window">
    <h4 class="text-center">Инспекторский состав отдела надзора</h4>
    <div class="text-left">
    <table>
        <tr>
            <td class="_id">ID</td>
            <td>Name</td>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td class ="_id">@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </table>
    </div>
</div>