html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    overflow: auto;
}

body {
    margin-bottom: 60px;
    overflow-y: hidden;
}

.header {
    display: flex;
    background-color: #095f78;
    width: auto;
}

.logo-header {
    margin: auto;
}

.text-header {
    width: 100%;
    text-align: center;
    color: white;
}

.text-left {
    text-align: left;
}

/*Navigator*/
.navbar {
    display: flex;
    background-color: #BBC2FB;
    width: 20%;
    float: left;
}

.navbar-ul {
    list-style-type: none;
}

.nav-item {
    width: 90%;
    background-color: #1027F2;
}

    .nav-item a:link, .nav-item a:visited {
        display: block;
        color: white;
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        margin: 10px 0px 10px 0px;
    }

    .nav-item a:hover {
        color: white;
        background-color: #095f78;
    }

/*PDO table, ReportPDO table, Inspector*/
.container {
    margin-bottom: 10px;
}

.main {
    display: flex;
    /*width: 80%;*/
}

.main-window {
    /*margin: auto;*/
    /*overflow-y: auto;*/
}


.table-conteiner {
    margin: auto;
}

    .table-conteiner table {
        width: auto;
        table-layout: auto;
        border: none;
    }

    .table-conteiner thead th {
        font-weight: bold;
        text-align: center;
        color: white;
        border: 2px solid black;
        padding: 10px 15px;
        background: #095f78;
    }

.main-table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
}


.td-text {
    border: 1px solid black;
    text-align: left;
    font-weight: normal;
}

.td-center {
    border: 1px solid black;
    text-align: center;
    font-weight: normal;
}

.td-bold {
    width: auto;
    border: 2px solid black;
    text-align: left;
    font-weight: bold;
    background-color: #BBC2FB;
}

.td-bold-center {
    width: auto;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    background-color: #BBC2FB;
}
.weight_td select {
    width: 300px;
}

.scroll-table-body {
    height: 450px;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.scroll-table table {
    width: 100%;
    table-layout: auto;
    border: none;
}

.scroll-table thead th {
    font-weight: bold;
    text-align: center;
    color: white;
    border: none;
    padding: 5px 5px;
    background: #095f78;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.scroll-table tbody tr {
    text-align: left;
    height: auto;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    padding: 5px 5px;
    font-size: 12px;
    vertical-align: top;
}

    .scroll-table tbody tr:nth-child(even) {
        background: #ddf1f7ff;
    }

    .scroll-table tbody tr:hover {
        /*color: white;*/
        background-color: #6bc9e4;
        padding: 10px;
    }

.addNewForm table {
    width: 100%;
    height: 400px;
}
.addNewForm table th {
    font-weight: bold;
    text-align: center;
    color: black;
    border: none;
    padding: 15px 5px 0px 5px;
    /*background: #095f78;*/
    font-size: 12px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.addNewForm tbody td {
    /*text-align: left;*/
    /*height: auto;*/
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    padding: 15px 5px;
    font-size: 12px;
    vertical-align: top;
}
    .addNewForm tr:nth-child(even) {
    background: #eee;
}

td a:visited, td a:link, td a:hover {
    text-decoration: none;
    text-align: left;
    color: black;
}



/*Стили для скролла*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


.div-buttons {
    display: flex;
    /*width: 70%;*/
    float: right;
}

.div-button {
    background-color: #1027F2;
    /*display: inline;*/
    padding: 10px 0px 10px 0px;
    margin: 10px;
}

    .div-button a:link, .div-button a:visited {
        color: white;
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        /*margin: 10px;*/
    }

    .div-button a:hover {
        color: white;
        background-color: #095f78;
        padding: 10px;
    }

.footer {
    display: flex;
    background-color: #095f78;
    width: auto;
    color: white;
}
.text-footer {
    text-align: left;
    margin-left: 10px;
    width: 100%;
    color: white;
    /*padding: 0px;*/
}


/*Поиск в ПОО*/
/*#myInput {*/
/*background-image: url('/css/searchicon.png');*/ /* Добавить значок поиска для ввода */
/*background-position: 10px 12px;*/ /* Расположите значок поиска */
/*background-repeat: no-repeat;*/ /* Не повторяйте изображение значка */
/*width: 100%;*/ /* Полная ширина */
/*font-size: 12px;*/ /* Увеличить размер шрифта */
/*padding: 12px 20px 12px 40px;*/ /* Добавить немного отступов */
/*border: 1px solid #ddd;*/ /* Добавить серую границу */
/*margin-bottom: 12px;*/ /* Добавить некоторое пространство под входом */
/*}*/

/*#myTable {
    border-collapse: collapse;*/ /* Свернуть границы */
/*width: 100%;*/ /* Полная ширина */
/*border: 1px solid #ddd;*/ /* Добавить серую границу */
/*font-size: 18px;*/ /* Увеличить размер шрифта */
/*}*/

/*#myTable th, #myTable td {
        text-align: left;*/ /*Выравнивание текста по левому краю */
/*padding: 12px;*/ /*Добавить отступ */
/*}*/

/*#myTable tr {*/
/* Добавить нижнюю границу для всех строк таблицы */
/*border-bottom: 1px solid #ddd;*/
/*}

        #myTable tr.header, #myTable tr:hover {*/
/* Добавить серый цвет фона для заголовка таблицы и при наведении курсора мыши */
/*background-color: #f1f1f1;*/
/*}*/

