<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Учёт потенциально опасных объектов</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AccountingForPotentiallyDangObj.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="logo-header"><a><img src="~/images/logo-gosprom.png" title="Gospromnadzor" /></a></div>
        <div class="text-header"><h4>Учет потенциально опасных объектов</h4>
            <h2>Департамент по надзору за безопасным ведением работ в промышленности (ГОСПРОМНАДЗОР)</h2>
            <h3>Гомельское областное управление</h3></div>
    </header>
    <nav class="navbar">
            <div class="navbar-div">
                <ul class="navbar-ul">
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Inspectors" asp-action="Inspectors">Инспекторы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                </ul>
            </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AccountingForPotentiallyDangObj.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
